html(lang='en')
  head
    meta(charset='UTF-8')
    title Voiting App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation')
              a(href='/index.html') Home
            li(role='presentation')
              a(href='/logout') Logout
            li(role='presentation')
              a(href='/login') Login
    
    block content
    #footer
      p some footer content